<div>
    <div class="media">
        <div class="media-image">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#growth"></use>
                </svg>
            </span>
        </div>
        <div class="media-body">
            <h3 class="media-tittle">Easy Start and managed updates</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
                quod doloribus assumenda blanditiis ea fugit? Eveniet vero quaerat
                expedita debitis!
            </p>
        </div>
    </div>
</div>